.footer{
   padding: 2rem;
   background: #07151a18;
   color: #ffffff;
}
.footer__wrapper{
    padding: 1rem 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__logo{
    font-family: 'Kalam', cursive;
    font-size: 2.3rem;
    font-weight: 600;
}
.footer__logo_a{
    font-family: 'Inter',sans-serif;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(245, 76, 76);
    transform: rotate(10deg) translateY(.5rem);
    margin-right: .5rem;
}
.footer__date{
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 2rem;
}

@media (max-width: 600px){
    .footer__wrapper{
        flex-direction: column;
        justify-content: center;
    }
}